<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'search_blog' %}" method="get">
        {% csrf_token %}
        <input type="text" name='q' placeholder="search Blog">
        <button type="submit">Search</button>
    </form>
    <h1>The post are:</h1>
    {% for post in posts %}
        <div>
            <div>
                <h3>{{post.title}}</h3>
                <p>{{post.created_at}}</p>
                <a href="{% url 'post_details' pk=post.id %}" >Read More</a>
            </div>
        </div>
    {% endfor %}
</body>
</html>